/* change background image gradient */

body {
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.95)),url(../img/bg.jpg);
}

/* colour of navigation bar */

#mainNav, .footer {
    background-color: rgba(0,0,0,.8)
}

/* mobile nav menu toggle button colour */

button:focus {
    background-color: #000000;
}

/* change button colours */

.btn {
    background-color: orange;
}

/* mid-section background */
.cta {
    background-color: rgba(0,0,0,.6);
}

/* format drop down nav menu for smaller screens */

@media only screen and (max-width: 991px) {

    .navbar-collapse {
        z-index: 1;
        background-color: rgba(0,0,0,0.5);
    }
    
    nav ul a {
        text-align: center;
    }
    
    nav ul a:hover {
        background-color: rgba(0,0,0,0.7);
    }
}