/* change background image gradient */

body {
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.95)),url(../img/bg.jpg);
}

/* colour of navigation bar */

#mainNav, .footer {
    background-color: rgba(0,0,0,.8)
}

/* mobile nav menu toggle button colour */

button:focus {
    background-color: #000000;
}

/* change button colours */

.btn {
    background-color: orange;
}

/* change input boxes font colour */

::placeholder {
    color: black;
}

.dropdown-content li>span {
    color: black;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
}

/* bottom orange border for input fields */

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid orange;
    -webkit-box-shadow: 0 1px 0 0 orange;
    box-shadow: 0 1px 0 0 orange;
}

/* Change autocomplete fields colours  */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
 -webkit-box-shadow: 0 0 0 30px rgba(255, 204, 62, 0.397) inset;
}

/* change date picker colours */

.datepicker-date-display{
    background-color: orange;
}

.datepicker-cancel, .datepicker-done {
    color: black;
}

.datepicker-table td.is-today {
    color: orange;
}

.datepicker-table td.is-selected {
    background-color: orange;
    color: #fff;
}

/* mid-section background */
.cta {
    background-color: rgba(0,0,0,.6);
}

/* input fields colours */

  /* label color */
  .input-field label {
    color: black;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: black;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 #000;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  /* icon and label colour hover */
  input[type=text]:not(.browser-default):focus:not([readonly])+label,
  input[type=password]:not(.browser-default):focus:not([readonly])+label {
      color: orange;
  }

  /* input field colour hover */
  input[type=text]:not(.browser-default):focus:not([readonly]),textarea.materialize-text-area:focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),textarea.materialize-text-area:focus:not([readonly]) {
      border-bottom: 1px solid orange !important;
      box-shadow: 0 1px 0 0 solid orange !important;
  }

  .input-field input[type=text]:focus,
  .input-field input[type=password]:focus {
      border-bottom: 1px solid orange !important;
      box-shadow: 0 1px 0 0 orange !important;
  }

  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: orange;
  }

  .blog-title {
      color: orange;
  }

/* flash messages formatting */

.flashes {
    line-height: 2;
    background-color: orange;
    text-align: center;
    display: block;

}

/* hyperlink colours */

h6 a {
    color: black;
}

h6 a:hover {
    color: orange;
}

/* modify data buttons formatting */

.modify {
    text-decoration: none;
}

.modify:hover {
    text-decoration: none;
    color: white;
}

/* format drop down nav menu for smaller screens */

@media only screen and (max-width: 991px) {

    .navbar-collapse {
        z-index: 1;
        background-color: rgba(0,0,0,0.5);
    }
    
    nav ul a {
        text-align: center;
    }
    
    nav ul a:hover {
        background-color: rgba(0,0,0,0.7);
    }
}