{% extends "base.html" %}
{% block content %}
  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ url_for('static', filename='img/bmw.jpg') }}" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Cars Engines</span>
                <span class="section-heading-lower">Drifing</span>
              </h2>
              <p>text will go here </p>
              <p class="mb-0">something else<em>lust</em> keep driving</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}