{% extends "base.html" %}
{% block content %}
<div class="blog-title">
  <h2 class="section-heading mb-4 text-center">
    <span class="section-heading-lower">See Below The Latest Spottings</span>
  </h2>
</div>
<section class="page-section cta">
  {% for post in posts %}
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">{{ post.date_seen }}</span>
            <span class="section-heading-lower">{{ post.car_make }} {{ post.car_model }}</span>
          </h2>
          <p class="mb-0">
            Spotted in {{ post.city }}, {{ post.country }} by {{ post.posted_by }}<br>
            <br>
          </p>
          <a href="" class="btn-small orange accent-4 modify">Done</a>
          <a href="" class="btn-small grey modify">Edit</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}