{% extends "base.html" %}
{% block content %}
<div class="blog-title">
  <h2 class="section-heading mb-4 text-center">
    <span class="section-heading-lower">Search Below</span>
  </h2>
</div>

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="p-5 d-flex rounded centre">
          <form action="{{ url_for('search') }}" method="POST">
            <input type="text" name="searchitem" id="searchitem">
            <a class="btn-small red modify blacktext" href="{{ url_for('index') }}"><i class="fa fa-undo"></i></a>
            <button type="submit" class="btn-small orange modify"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% if posts|length > 0 %}
<section class="page-section cta">
  <div class="blog-title">
    <h3 class="section-heading mb-4 text-center">
      Latest Spottings
    </h3>
    <br>
  </div>
  {% for post in posts %}
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">{{ post.date_seen }}</span>
            <span class="section-heading-lower">{{ post.car_make }} {{ post.car_model }}</span>
          </h2>
          <p class="mb-0">
            Spotted in {{ post.city }}, {{ post.country }} by {{ post.posted_by }}<br>
            <br>
          </p>

          {% if session.user|lower == "admin123" %}
          <a href="{{ url_for('edit', post_id=post._id) }}" class="btn-small orange modify">Edit</a>
          <a href="{{ url_for('remove', post_id=post._id) }}" class="btn-small red accent-4 modify">Remove</a>
          {% else %}
          {% if session.user|lower == post.posted_by|lower %}
          <a href="{{ url_for('edit', post_id=post._id) }}" class="btn-small orange modify">Edit</a>
          <a href="{{ url_for('remove', post_id=post._id) }}" class="btn-small red accent-4 modify">Remove</a>
          {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>

{% else %}
<section class="page-section cta">
  <div class="blog-title">
    <h3 class="section-heading mb-4 text-center">
      No Results Found
    </h3>
  </div>
</section>

{% endif %}

{% endblock %}